# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [72]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import gmaps
import os

# Import API key
from api_keys import g_key

In [73]:
#print(g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [74]:
# Load the csv exported in Part I to a DataFrame
# meteorology_of_cities.csv
weather_cities = "../WeatherPy/output_data/meteorology_of_cities.csv"
Cities = pd.read_csv(weather_cities)
cities_example = Cities.head(10)

In [75]:
cities_example #Cities.head()

,City,Lat,Lng,Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Mar del Plata,-38.0023,-57.5575,63.16,82,40,8.05,AR,02/06/2021
1,Ushuaia,-54.8000,-68.3000,48.20,76,75,12.66,AR,02/06/2021
2,Butaritari,3.0707,172.7902,80.92,80,60,21.21,KI,02/06/2021
3,Rikitea,-23.1203,-134.9692,78.42,71,87,10.58,PF,02/06/2021
4,Bluff,-46.6000,168.3333,61.09,77,0,11.18,NZ,02/06/2021
5,Hithadhoo,-0.6000,73.0833,81.73,74,71,11.41,MV,02/06/2021
6,Narsaq,60.9167,-46.0500,46.40,25,75,20.71,GL,02/06/2021
7,Mahébourg,-20.4081,57.7000,77.00,94,40,3.44,MU,02/06/2021
8,Busselton,-33.6500,115.3333,60.60,94,100,1.99,AU,02/06/2021
9,Punta Arenas,-53.1500,-70.9167,46.20,81,0,11.50,CL,02/06/2021

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [76]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [77]:
# Use the Lat and Lng as locations and Humidity as the weight.
#data = [cities_example["City"],cities_example["Lat"],cities_example["Lng"]]
#headers = ["City", "Lat", "Lng"]
#marker_locations = pd.concat(data, axis=1, keys=headers)
Humidity_weight = cities_example["Humidity"].to_list()    #cities_example["Humidity"].to_list()
locations = cities_example[['Lat', 'Lng']] #cities_example[['Lat', 'Lng']]
#gmaps.figure(display_toolbar=True, display_errors=True, zoom_level=None, tilt=45, center=None, 
#layout=None, map_type='ROADMAP', mouse_handling='COOPERATIVE')
# Create a Humidity Heatmap layer
fig = gmaps.figure(center=(20.0, 30.0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=Humidity_weight, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 2)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [110]:
# Narrow down the cities to fit weather conditions: (80 >  max temp °F > 70) and (Wind speed < 10 mph.) and (cloudiness = 0)
# Drop any rows will null values.
New_Cities = Cities[(Cities['Cloudiness']==0)&((Cities['Temp']>70)&(Cities['Temp']<80))&(Cities['Wind Speed']<10)]
New_Cities=pd.DataFrame(New_Cities).dropna()
print(f"Number of tentative cities: {len(New_Cities)}")
New_Cities.head()

Number of tentative cities: 14

,City,Lat,Lng,Temp,Humidity,Cloudiness,Wind Speed,Country,Date
24,Saint-Philippe,-21.3585,55.7679,77.36,69,0,4.61,RE,02/06/2021
41,Balasore,21.4942,86.9317,72.41,48,0,5.99,IN,02/06/2021
47,Khedbrahma,24.0333,73.0500,71.38,22,0,8.50,IN,02/06/2021
62,Guatajiagua,13.6667,-88.2000,71.38,78,0,1.52,SV,02/06/2021
158,Hong Kong,22.2855,114.1577,70.38,62,0,3.00,HK,02/06/2021

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [136]:
hotel_df = pd.DataFrame(New_Cities.head(4))
hotel_df["Hotel Name"]=""
#hotel_df
#Set parameters to search for hotels with 5000 meters.
# geocoordinates
#Url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Hotel%20&inputtype=textquery&locationbias=circle:5000@21.4942,86.9317&fields=photos,formatted_address,name,rating,opening_hours&key=AIzaSyAZ1iF3iSurGOxs7nwvnXmZifSw5FuM-Ao
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
city_index = []
hotel_name = []
hotel_vicinity = []
for index_city in hotel_df.index:
#    #print(city)
    Coordinates = f"{hotel_df.at[index_city,'Lat']},{hotel_df.at[index_city,'Lng']}"
    Search = "hotel%"
    Radius = 5000
    Types = "hotel%"
    Final_URL=f"{base_url}location={Coordinates}&radius={Radius}&type={Types}&keyword={Search}&key={g_key}"
    response = requests.get(Final_URL).json()
    #print(Final_URL)
    if response['status'] == "OK":
        print(f"→ City: {hotel_df.at[index_city,'City']}, Nearest Hotel (5000 m): {response['results'][0]['name']}, Vicinity: {response['results'][0]['vicinity']}")
        hotel_df.at[index_city,'Hotel Name'] = response['results'][0]['name']
    else:
        print(f"→ City: {hotel_df.at[index_city,'City']}: {response['status']}")
    
    #hotel_df.loc[index, "Hotel Name"] = results[0]['name']
hotel_df.head()    
    
    #convert response to json
    #hotel_data = response.json()
    
#hotel_data
    #print(json.dumps(hotel_data, indent=4, sort_keys=True))
    
    # base url
#           https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522,151.1957362&radius=1500&type=restaurant&keyword=cruise&key=YOUR_API_KEY
#base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# buscar places
# https://maps.googleapis.com/maps/api/place/findplacefromtext/output?parameters
# run a request using our params dictionary

#response = requests.get(base_url, params=params)

→ City: Saint-Philippe, Nearest Hotel (5000 m): Les Embruns Du Baril, Vicinity: Réunion
→ City: Balasore, Nearest Hotel (5000 m): Hotel Zaika International, Vicinity: OT Rd, Near Laxminarayan Mandir, Asha Nagar, Balasore
→ City: Khedbrahma: ZERO_RESULTS
→ City: Guatajiagua: ZERO_RESULTS

,City,Lat,Lng,Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
24,Saint-Philippe,-21.3585,55.7679,77.36,69,0,4.61,RE,02/06/2021,Les Embruns Du Baril
41,Balasore,21.4942,86.9317,72.41,48,0,5.99,IN,02/06/2021,Hotel Zaika International
47,Khedbrahma,24.0333,73.0500,71.38,22,0,8.50,IN,02/06/2021,
62,Guatajiagua,13.6667,-88.2000,71.38,78,0,1.52,SV,02/06/2021,

In [139]:
hotel_df.drop(hotel_df[hotel_df['Hotel Name'] == ''].index, inplace=True)
hotel_df

,City,Lat,Lng,Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
24,Saint-Philippe,-21.3585,55.7679,77.36,69,0,4.61,RE,02/06/2021,Les Embruns Du Baril
41,Balasore,21.4942,86.9317,72.41,48,0,5.99,IN,02/06/2021,Hotel Zaika International

In [141]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [142]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))