# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [12]:
print(g_key)

AIzaSyAZ1iF3iSurGOxs7nwvnXmZifSw5FuM-Ao

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [13]:
# Load the csv exported in Part I to a DataFrame
# meteorology_of_cities.csv
weather_cities = "../WeatherPy/output_data/meteorology_of_cities.csv"
Cities = pd.read_csv(weather_cities)
cities_example = Cities.head(10)

In [14]:
cities_example

,City,Lat,Lng,Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Katsuura,35.1333,140.3000,51.64,54,20,3.44,JP,1612659348
1,Puerto Ayora,-0.7393,-90.3518,77.00,93,52,7.40,EC,1612659494
2,Cherskiy,68.7500,161.3000,-3.33,81,0,4.70,RU,1612658959
3,Hilo,19.7297,-155.0900,74.23,47,40,9.22,US,1612658958
4,Bredasdorp,-34.5322,20.0403,66.99,92,95,1.99,ZA,1612658969
5,Āsosa,10.0667,34.5333,57.70,31,0,7.45,ET,1612659494
6,Fukuechō,32.6881,128.8419,53.60,71,20,3.44,JP,1612659494
7,Cape Town,-33.9258,18.4232,68.52,88,20,9.22,ZA,1612659471
8,Ushuaia,-54.8000,-68.3000,51.80,76,40,18.41,AR,1612659495
9,Laas,46.6166,10.7002,34.81,100,90,11.50,IT,1612659328

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [15]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [16]:
# Use the Lat and Lng as locations and Humidity as the weight.
#data = [cities_example["City"],cities_example["Lat"],cities_example["Lng"]]
#headers = ["City", "Lat", "Lng"]
#marker_locations = pd.concat(data, axis=1, keys=headers)
Humidity_weight = cities_example["Humidity"].to_list()
locations = cities_example[['Lat', 'Lng']]
# Create a poverty Heatmap layer
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=Humidity_weight, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure