# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
#print(g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
# Load the csv exported in Part I to a DataFrame
# meteorology_of_cities.csv
weather_cities = "../WeatherPy/output_data/meteorology_of_cities.csv"
Cities = pd.read_csv(weather_cities)
#cities_example = Cities.head(20)

In [4]:
 Cities.head()#cities_example

,City,Lat,Lng,Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Mar del Plata,-38.0023,-57.5575,63.16,82,40,8.05,AR,02/06/2021
1,Ushuaia,-54.8000,-68.3000,48.20,76,75,12.66,AR,02/06/2021
2,Butaritari,3.0707,172.7902,80.92,80,60,21.21,KI,02/06/2021
3,Rikitea,-23.1203,-134.9692,78.42,71,87,10.58,PF,02/06/2021
4,Bluff,-46.6000,168.3333,61.09,77,0,11.18,NZ,02/06/2021

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [35]:
# Use the Lat and Lng as locations and Humidity as the weight.
#data = [cities_example["City"],cities_example["Lat"],cities_example["Lng"]]
#headers = ["City", "Lat", "Lng"]
#marker_locations = pd.concat(data, axis=1, keys=headers)
Humidity_weight = Cities["Humidity"].to_list()    #cities_example["Humidity"].to_list()
locations = Cities[['Lat', 'Lng']] #cities_example[['Lat', 'Lng']]
#gmaps.figure(display_toolbar=True, display_errors=True, zoom_level=None, tilt=45, center=None, 
#layout=None, map_type='ROADMAP', mouse_handling='COOPERATIVE')
# Create a Humidity Heatmap layer
fig = gmaps.figure(center=(20.0, 30.0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=Humidity_weight, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 2)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [52]:
# Narrow down the cities to fit weather conditions: (80 >  max temp °F > 70) and (Wind speed < 10 mph.) and (cloudiness = 0)
# Drop any rows will null values.
New_Cities = Cities[(Cities['Cloudiness']==0)&((Cities['Temp']>70)&(Cities['Temp']<80))&(Cities['Wind Speed']<10)]
New_Cities.head()

,City,Lat,Lng,Temp,Humidity,Cloudiness,Wind Speed,Country,Date
24,Saint-Philippe,-21.3585,55.7679,77.36,69,0,4.61,RE,02/06/2021
41,Balasore,21.4942,86.9317,72.41,48,0,5.99,IN,02/06/2021
47,Khedbrahma,24.0333,73.0500,71.38,22,0,8.50,IN,02/06/2021
62,Guatajiagua,13.6667,-88.2000,71.38,78,0,1.52,SV,02/06/2021
158,Hong Kong,22.2855,114.1577,70.38,62,0,3.00,HK,02/06/2021

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure