# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
print(g_key)

AIzaSyAZ1iF3iSurGOxs7nwvnXmZifSw5FuM-Ao

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
# Load the csv exported in Part I to a DataFrame
# meteorology_of_cities.csv
weather_cities = "../WeatherPy/output_data/meteorology_of_cities.csv"
Cities = pd.read_csv(weather_cities)
Cities.head(20)

,City,Lat,Lng,Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Albany,42.6001,-73.9662,27.79,43,1,9.22,US,1612654859
1,Bethel,41.3712,-73.4140,37.65,38,1,5.75,US,1612655025
2,Mtwara,-10.2667,40.1833,78.80,89,40,9.22,TZ,1612655451
3,Cockburn Town,21.4612,-71.1419,77.00,78,40,17.27,TC,1612655232
4,Tuktoyaktuk,69.4541,-133.0374,-16.60,76,90,24.16,CA,1612655010
5,Kupang,-10.1667,123.5833,80.60,89,20,8.05,ID,1612655452
6,Ribeira Grande,38.5167,-28.7000,61.05,88,93,22.57,PT,1612655166
7,Hermanus,-34.4187,19.2345,68.00,89,80,1.99,ZA,1612655231
8,Vaini,-21.2000,-175.2000,84.20,84,75,11.50,TO,1612655012
9,Flinders,-34.5833,150.8552,78.01,70,1,1.99,AU,1612655310
10,Bredasdorp,-34.5322,20.0403,69.80,68,63,5.75,ZA,1612655019
11,Ergani,38.2653,39.7621,32.88,100,0,4.61,TR,1612655452
12,Provideniya,64.3833,-173.3000,1.72,89,28,3.65,RU,1612655212
13,Sola,-13.8833,167.5500,82.17,71,34,4.70,VU,1612655046
14,Le Vauclin,14.5452,-60.8388,73.13,94,75,16.11,MQ,1612655453
15,Punta Arenas,-53.1500,-70.9167,55.20,58,40,23.02,CL,1612654923
16,Rikitea,-23.1203,-134.9692,78.67,69,100,9.84,PF,1612655016
17,Southbridge,42.0751,-72.0334,30.09,37,1,11.50,US,1612655453
18,Dali,25.7000,100.1833,42.31,67,31,1.90,CN,1612655453
19,Khani,41.9563,42.9566,46.40,87,75,9.22,GE,1612655304

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure