# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
from ipywidgets.embed import embed_minimal_html
import pandas as pd
import numpy as np
import requests
import json
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
#print(g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
# Load the csv exported in Part I to a DataFrame
# meteorology_of_cities.csv
weather_cities = "../WeatherPy/output_data/meteorology_of_cities.csv"
Cities = pd.read_csv(weather_cities)
#cities_example = Cities.head(10)

In [4]:
Cities.head() # cities_example

,City,Lat,Lng,Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Rikitea,-23.1203,-134.9692,77.63,71,47,12.50,PF,02/07/2021
1,Khatanga,71.9667,102.5000,-28.08,79,12,11.50,RU,02/07/2021
2,Dingle,10.9995,122.6711,76.05,92,100,11.32,PH,02/07/2021
3,Vaini,-21.2000,-175.2000,77.00,100,90,12.66,TO,02/07/2021
4,Saint-Philippe,-21.3585,55.7679,74.39,61,90,6.91,RE,02/07/2021

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [6]:
# Use the Lat and Lng as locations and Humidity as the weight.
Humidity_weight = Cities["Humidity"].to_list()    #cities_example["Humidity"].to_list()
locations = Cities[['Lat', 'Lng']] #cities_example[['Lat', 'Lng']]
#gmaps.figure(display_toolbar=True, display_errors=True, zoom_level=None, tilt=45, center=None, 
#layout=None, map_type='ROADMAP', mouse_handling='COOPERATIVE')
# Create a Humidity Heatmap layer
fig = gmaps.figure(center=(20.0, 30.0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=Humidity_weight, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 2)
fig.add_layer(heat_layer)
fig
#embed_minimal_html('output_data/city_met_criteria_Map.html', views=[fig])

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
# Narrow down the cities to fit weather conditions: (80 >  max temp °F > 70) and (Wind speed < 10 mph.) and (cloudiness = 0)
# Drop any rows will null values.
New_Cities = Cities[(Cities['Cloudiness']==0)&((Cities['Temp']>70)&(Cities['Temp']<80))&(Cities['Wind Speed']<10)]
New_Cities=pd.DataFrame(New_Cities).dropna()
print(f"Number of tentative cities: {len(New_Cities)}")
New_Cities.head()

Number of tentative cities: 14

,City,Lat,Lng,Temp,Humidity,Cloudiness,Wind Speed,Country,Date
35,Prieska,-29.6641,22.7474,76.62,46,0,8.12,ZA,02/07/2021
56,Presidencia Roque Sáenz Peña,-26.7852,-60.4388,74.12,35,0,4.92,AR,02/07/2021
58,Cidreira,-30.1811,-50.2056,70.66,72,0,7.40,BR,02/07/2021
80,Trairi,-3.2778,-39.2689,79.14,84,0,7.58,BR,02/07/2021
94,San Miguel de Tucumán,-26.8241,-65.2226,78.80,73,0,1.88,AR,02/07/2021

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
hotel_df = pd.DataFrame(New_Cities)
hotel_df["Hotel Name"]=""
#hotel_df
#Set parameters to search for hotels with 5000 meters.
# geocoordinates
#Url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Hotel%20&inputtype=textquery&locationbias=circle:5000@21.4942,86.9317&fields=photos,formatted_address,name,rating,opening_hours&key=AIzaSyAZ1iF3iSurGOxs7nwvnXmZifSw5FuM-Ao
url_init = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
hotel_vicinity = []
print(f"Search results: \n")
for index_city in hotel_df.index:
    #print(city)
    Coordinates = f"{hotel_df.at[index_city,'Lat']},{hotel_df.at[index_city,'Lng']}"
    Search = "hotel%"
    Radius = 5000
    Types = "hotel%"
    Final_URL=f"{url_init}location={Coordinates}&radius={Radius}&type={Types}&keyword={Search}&key={g_key}"
    response = requests.get(Final_URL).json()
    #print(Final_URL)
    if response['status'] == "OK":
        print(f"→ City: {hotel_df.at[index_city,'City']}, Nearest Hotel (5000 m): {response['results'][0]['name']}, Vicinity: {response['results'][0]['vicinity']}")
        hotel_df.at[index_city,'Hotel Name'] = response['results'][0]['name']
    else:
        print(f"→ City: {hotel_df.at[index_city,'City']}: {response['status']}")

Search results:

→ City: Prieska, Nearest Hotel (5000 m): Excelsior River Cottage, Vicinity: Prieska
→ City: Presidencia Roque Sáenz Peña, Nearest Hotel (5000 m): Hotel Gualok, Vicinity: San Martín 1198, Sáenz Peña
→ City: Cidreira, Nearest Hotel (5000 m): Hotel Castelo, Vicinity: R. Osvaldo Aranha, 3968 - CIDREIRA, Cidreira
→ City: Trairi, Nearest Hotel (5000 m): Vila Vagalume, Vicinity: Rua Guajiru, s/n, Trairi
→ City: San Miguel de Tucumán, Nearest Hotel (5000 m): Sheraton Tucuman Hotel, Vicinity: Ave. Soldati, Haití Y, San Miguel de Tucumán
→ City: Bonthe: ZERO_RESULTS
→ City: Hambantota, Nearest Hotel (5000 m): The Peacock Beach Hotel Hambantota, Vicinity: No 35, Hambantota
→ City: Harper: ZERO_RESULTS
→ City: Lázaro Cárdenas, Nearest Hotel (5000 m): Hotel de Casablanca, Vicinity: Nicolás Bravo 475, Centro, Lázaro Cárdenas
→ City: Córdoba, Nearest Hotel (5000 m): Selina Nueva Cordoba, Vicinity: San Lorenzo 163, Córdoba
→ City: Felipe Carrillo Puerto, Nearest Hotel (5000 m): OYO Hotel Casa Regina, Vicinity: Calle 68 812, Centro, Felipe Carrillo Puerto
→ City: San Lorenzo, Nearest Hotel (5000 m): Factoria Hotel, Vicinity: Dr. Francisco Morra 813, Asunción
→ City: Bodden Town, Nearest Hotel (5000 m): Turtle Nest Inn & Condos, Vicinity: 166 Bodden Town Rd, Bodden Town
→ City: Barra do Garças, Nearest Hotel (5000 m): Hilton Hotel, Vicinity: R. Minervino Machado, 140 - St. Araguaia, Aragarças

In [9]:
# Hotel search result
hotel_df.head()

,City,Lat,Lng,Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
35,Prieska,-29.6641,22.7474,76.62,46,0,8.12,ZA,02/07/2021,Excelsior River Cottage
56,Presidencia Roque Sáenz Peña,-26.7852,-60.4388,74.12,35,0,4.92,AR,02/07/2021,Hotel Gualok
58,Cidreira,-30.1811,-50.2056,70.66,72,0,7.40,BR,02/07/2021,Hotel Castelo
80,Trairi,-3.2778,-39.2689,79.14,84,0,7.58,BR,02/07/2021,Vila Vagalume
94,San Miguel de Tucumán,-26.8241,-65.2226,78.80,73,0,1.88,AR,02/07/2021,Sheraton Tucuman Hotel

In [10]:
# that met the criteria:
hotel_df.drop(hotel_df[hotel_df['Hotel Name'] == ''].index, inplace=True)
hotel_df

,City,Lat,Lng,Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
35,Prieska,-29.6641,22.7474,76.62,46,0,8.12,ZA,02/07/2021,Excelsior River Cottage
56,Presidencia Roque Sáenz Peña,-26.7852,-60.4388,74.12,35,0,4.92,AR,02/07/2021,Hotel Gualok
58,Cidreira,-30.1811,-50.2056,70.66,72,0,7.40,BR,02/07/2021,Hotel Castelo
80,Trairi,-3.2778,-39.2689,79.14,84,0,7.58,BR,02/07/2021,Vila Vagalume
94,San Miguel de Tucumán,-26.8241,-65.2226,78.80,73,0,1.88,AR,02/07/2021,Sheraton Tucuman Hotel
176,Hambantota,6.1241,81.1185,73.40,100,0,2.30,LK,02/07/2021,The Peacock Beach Hotel Hambantota
213,Lázaro Cárdenas,17.9583,-102.2000,75.31,75,0,4.56,MX,02/07/2021,Hotel de Casablanca
283,Córdoba,-31.4135,-64.1811,75.61,88,0,5.75,AR,02/07/2021,Selina Nueva Cordoba
306,Felipe Carrillo Puerto,19.5833,-88.0500,74.19,94,0,3.36,MX,02/07/2021,OYO Hotel Casa Regina
451,San Lorenzo,-25.3333,-57.5333,73.40,78,0,4.61,PY,02/07/2021,Factoria Hotel
456,Bodden Town,19.2833,-81.2500,78.93,69,0,6.91,KY,02/07/2021,Turtle Nest Inn & Condos
494,Barra do Garças,-15.8900,-52.2567,72.84,91,0,3.78,BR,02/07/2021,Hilton Hotel

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# embed_minimal_html('output_data/Hotel_Map.html', views=[fig])

Of the selected cities we found 14 cities that meet the criteria of: cloudiness zero, temperature between 70 and 80 F
and Wind speed less than 10 mph. For these cities we only find Hotel, within a radius of 5000 m, in 12 of them. An option for vacationing is: Hilton Hotel, Barra do Garças, Bazil BR